body {
  background-color: #f8f8f8;
}
h1 {
  font-family: 'Futura', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  color: #4ecca3;
}

h3 {
  font-family: font-family: 'Futura', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #393e46;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #4ecca3;
  border-width: 5px;
  width: 3%;
}

ul,ol,dl,p {
  font-family: font-family: 'Futura', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #232931
}

table {
  font-family: font-family: 'Futura', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #232931
}

p {
  font-family: font-family: 'Futura', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #232931;
}
